.footer {
    height: 70px;
    background-color: #e0e0e0;
}

.footer-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;

}

.footer-img {
    height: 40px;
    width: 40px;
}