*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    
}

html,
body {
    min-height: 100%;
    background-color: #26262603;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}


@import './main-greeting';

@import './portfolio';

@import './contact-me';

@import './footer';
